@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
    /* font-family: 'Open Sans', sans-serif; */

/*-------------------------------------------------------- Html ---*/

/*-------------------------------------------------------- Html ---*/

/*-------------------------------------------------------- Wrapper ---*/
.wrapper {
    font-family: 'Open Sans', sans-serif;
    max-width: 1900px;
}
/*-------------------------------------------------------- Wrapper ---*/

/*-------------------------------------------------------- Header ---*/

/*--- Header Navigation ---*/

.lns {
    display: flex;
    background-color: #313131;
}

.lns-logo {
    width: 20px;
    height: 20px;
    align-self: center;
    padding: 9px;
    order: 1;
}

.lns-title {
    align-self: center;
    padding-left: 20px;
    color: white;
    font-weight: 700;
    order: 2;
    cursor: default;
}

.nav-menu-list {
    display: flex;
    list-style-type: none;
    order: 3;
    align-self: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.nav-menu-item {
    margin-left: 27px;
    font-size: 13px;
    font-weight: 600;
}

.nav-menu-item_href {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-menu-item_href:hover {
    color: #14B9D5;
    transition: 0.7s all ease;
}

.button-search {
    width: 2.5vw;
    justify-items: flex-end;
    order: 4;
    background: no-repeat;
    background-color: #000000;
    background-image: url(/img/srch.png);
    background-size: 15px 15px;
    background-position: center;
    border: 0px;
    outline:none;
    cursor: pointer;
}
/*--- Header Navigation ---*/

/*--- Header Middle Content ---*/

.hmc {
    height: 369px;
    background-image: url(/img/header-back.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hmc-title {
    margin: auto;
    margin-bottom: 80px;
    align-self: center;
    color: white;
    text-transform: uppercase;
    cursor: default;
    font-size: 27px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0px;
}

.header-button-box {
    display: flex;
    align-self: center;
    margin-bottom: 91px;
    font-size: 22px;
    font-weight: 700;
}

.button-subscribe {
    background-color: #89CA62;
    color: white;
    outline:none;
    cursor: pointer;
    border: 0px;
    border-radius: 2px;
    font-size: 17px;
    padding: 16px 27px;
}

.button-best-articles {
    background-color: #14B9D5;
    color: white;
    outline:none;
    cursor: pointer;
    border: 0px;
    border-radius: 2px;
    margin-left: 17px;
    font-size: 17px;
    padding: 16px 27px;
}

/*--- Header Middle Content ---*/

/*--- Header Footer Content ---*/
.hfc {
    /* background-color: #a3a3a3; */
    margin: 0;
    padding-bottom: 20px;
    background-image: url(/img/header-bg.jpeg);
    min-height: 369px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hfc-title {
    text-align: center;
    margin: 0; 
    padding: 47px 0px;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    font-weight: 700;
}

.hfc-galary {
    display: flex;
    flex-wrap: wrap;
    margin: 0 370px;
}

.hfc-galary-box{
    width: max-content;
    height: max-content;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    
}

.vanglo-img {
    width: 370px;
    height: 259px;  
}

.sunrise-img {
    width: 370px;
    height: 380px;
}

.stargaze-img {
    width: 370px;
    height: 290px;
}

.royal-img {
    margin-top: -120px;
    width: 370px;
    height: 260px;
}

.sunset-img {
    width: 370px;
    height: 247px;
}

.glorious-img {
    margin-top: -90px;
    width: 370px;
    height: 380px;
}

/*--- Header Footer Content ---*/

/*-------------------------------------------------------- Header ---*/

/*-------------------------------------------------------- Main ---*/

.main {
    background-image: url(/img/parallax-bg.jpeg);
    min-height: 590px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--- Main TOP CONTENT ---*/
.mtc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 2fr;
    background-image: url(/img/middle-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 590px;
    background-color: #F2F2F2;
    grid-template-areas:
        "title title title title"
        "blue blue blue blue"
        "logo logo logo logo"
}

.mtc-title { 
    grid-area: title;
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: 700;
    justify-self: center;
    align-self: end;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
}
    
.mtc-blue-string {
    grid-area: blue;
    height: 3.4px;
    width: 60px;
    background-color: #18B4CF;
    justify-self: center;
    align-self: end;
}

.mtc-logo-box {
    grid-area: logo;
    display: grid;
    grid-template-columns:0.46fr 0.1fr 0.1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "natpo-img dryme-img hh-img journy-img";
    align-self: center;
    grid-gap: 20px 70px;
    margin-bottom: 85px;
}


.natpo-img {
    grid-area: natpo-img;
    justify-self: end;
    align-self: center;
}

.dryme-img {
    grid-area: dryme-img;
}

.hh-img {
    grid-area: hh-img;
}

.journy-img {
    grid-area: journy-img;
}

/*--- Main TOP CONTENT ---*/

/*--- Main MIDDLE CONTENT ---*/
.mmc-title {
    text-align: center;
    margin: 0; 
    padding: 47px 0px;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    font-weight: 700;
}

.mmc-toprated-box{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "img1 img2 img3 img4 img5 img6 img7";
    grid-gap: 0;
    height: 190px;
}

.img1 {
    grid-area: img1;
    background-image: url(/img/Kids-Store-Lighting-2.png);
}

.img2 {
    grid-area: img2;
    background-image: url(/img/Kids-Store-Lighting-1\ \(1\).png);
}

.img3 {
    grid-area: img3;
    background-image: url(/img/Kids-Store-Lighting-1\ \(1\)\ \(1\).png);
}

.img4 {
    grid-area: img4;
    background-image: url(/img/ia-Pools-1.png);
}

.img5 {
    grid-area: img5;
    background-image: url(/img/IA-Hourses-6.png);
}

.img6 {
    grid-area: img6;
    background-image: url(/img/IA-billionares-6.png);
}

.img7 {
    grid-area: img7;
    background-image: url(/img/Brazil-staduims-IA-1.png);
}
/*--- Main MIDDLE CONTENT ---*/

/*--- Main footer CONTENT ---*/

.mfc > *{
    margin: 0 360px;
}

.mfc-title {
    text-align: center;
    margin: 0; 
    padding: 47px 0px;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    font-weight: 700;
}

/*--- Main footer CONTENT ---*/

/*--- Main Header CONTENT ---*/

.header-hotnews-box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    height: 259px;
}

.post1 {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 259px;
}

.header-hotnews-posts--contentbox {
    width: 390px;
    background-color: #F9F7F7;
}

.header-hotnews-posts--title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
    margin: 40px 24px auto auto;
}

.header-hotnews-posts--txt {
    margin: 15px 24px auto 40px;
    text-align: right;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
}

.post2 {
    height: 259px;
    background-color: #F9F7F7;
    font-size: 18px;
}

.header-hotnews-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    margin: 5px 20px 20px;
}

/*--- Main Header Content ---*/

/*--- Main Middle Content ---*/

.middle-hotnews-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 20px 369px;
    grid-gap: 70px;
    width: 554px;
}

.middle-hotnews-posts--title {
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
    margin: 12px 14px auto auto;
}

.middle-hotnews-posts--txt {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: right;
    margin: 15px 14px auto auto;
}

.post3 {
    background-color: #F9F7F7;
}

.post4 {
    background-color: #F9F7F7;
}

.post5 {
    background-color: #F9F7F7;
}

.post6 {
    background-color: #F9F7F7;
}
/*--- Main Middle Content ---*/

/*--- Main Footer Content HOTNEWS ---*/
.footer-hotnews-box{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 369px;
    grid-gap: 25px;
    height: 259px;
}

.footer-hotnews-posts--contentbox {
    width: 390px;
    background-color: #F9F7F7;
    text-align: end;
}

.post7 {
    height: 259px;
    background-color: #F9F7F7;
    text-align: center;
    font-size: 18px;
}

.footer-hotnews-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    margin: 5px 20px 20px;
}


.post8 {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 259px;
}

.footer-hotnews-posts--title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
    margin: 40px 24px auto auto;
}

.footer-hotnews-posts--txt {
    margin: 15px 24px auto 40px;
    text-align: right;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
}

/*--- Main Footer Content HOTNEWS---*/

/*-------------------------------------------------------- Main ---*/

/*-------------------------------------------------------- Footer ---*/
.footer {
    display: grid;
    height: 80px;
    background-color: #000000;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;    
    grid-template-areas: 
    "footer-content1 footer-content2";
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.footer-content1 {
    grid-area: footer-content1;
    color: white;
    font-weight: 400;
    font-size: 13px;
}

.footer-content2 {
    grid-area: footer-content2;
    height: 24px;
}
/*-------------------------------------------------------- Footer ---*/