@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Bold.woff2);
    font-weight: 700;
    font-display: swap;
}

/*-- BODY --*/

body {
    font-family: "Ubuntu";
    font-weight: 400;
    background-image: url(../img/bodyback.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*-- BODY --*/

/*-- HEADER --*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 79px;
    padding-right: 79px;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-label {
    padding: 18px 0 18px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
}

.header-label:hover {
    color: #01813F;
    transition: 1s all ease;
}

.rightbar {
    display: inherit;
    align-items: center;
}

.svg-icon {
    padding-right: 25px;
}
.svg-path:hover {
    fill: #01813F;
    cursor: pointer;
    transition: 1s all ease;
}

.registr::before {
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 1px;
    height: 20px;
    opacity: 50%;
    margin-right: 20px;
}

.registr {
    display: flex;
    align-items: center;
}

.reg-txt {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.reg-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
} 

.reg-link:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 1s all ease;
}

/*-- HEADER --*/

/*-- FORM FIX CENTER --*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 810px;
}
/*-- FORM FIX CENTER --*/

/*-- FORM --*/

.form-reg {
    background-color: white;
    padding: 31px 60px;
    width: 333px;
    margin: 0  auto;
}

.form-reg__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-reg-title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
}

.form-reg-title::before {
    content: "";
    display: inline-block;
    clip-path: inset(5% 6% 15% 10%);
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    right: 112.7px;
}

.form-reg-login {
    align-self: flex-end;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
    color: #3CB878;
}

.form-reg-login:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 1s all ease;
}

.form-reg__btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.socialnet-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
    border-radius: 3px 3px;
    width: 50%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px;
    cursor: pointer;
    padding-right: 30px;
}

.facebook {
    background-color: #305DB8;
    background-position-x: 14px;
}

.facebook:hover {
    background-color: #022263;
    transition: 1s all ease;
}

.google {
    margin-left: 4px;
    background-color: #DF4A32;
    background-position-x: 10px;
}

.google:hover {
    background-color:#AB1F09;
    transition: 1s all ease;
}

.fab {
    font-size: 25px;
    margin-right: 40px;
    position: relative;
}

.fab::after {
    content: "";
    display: inline-block;
    background-color: rgb(0, 0, 0, 10%);
    width: 1px;
    height: 28px;
    margin-left: 10px;
    box-sizing: border-box;
    position: absolute;
}

.form-reg__another {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.form-reg__another::after, .form-reg__another::before {
    content: "";
    display: inline-block;
    border-top: 1px solid #F2F2F2;
    flex-basis: 220px;
    margin-left: 5px;
}

.form-reg-fillin {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px;
}

.form-reg-fillin::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.form-reg-fillin:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form-reg-checkbox {
    margin-bottom: 20px;
}

.form-reg-checkbox__link {
    text-decoration: 0;
    color: rgba(60, 184, 120, 0.8);
}

.form-reg-checkbox__link:hover {
    text-decoration: underline;
    color: #01813F;
    transition: 1s all ease;
}

/*-- STYLE check mark FORM --*/

.form-reg-checkbox:checked, 
.form-reg-checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-reg-checkbox:checked + label, 
.form-reg-checkbox:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    line-height: 23px;
    cursor: pointer;
}

.form-reg-checkbox:checked + label:before, 
.form-reg-checkbox:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 22px;
    height: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.form-reg-checkbox:checked + label:after, 
.form-reg-checkbox:not(:checked) + label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

.form-reg-checkbox:checked + label:after, 
.form-reg-checkbox:not(:checked) + label:after {
    left: 4px;
    top: 4px;
    width: 15px;
    height: 8px;
    border-radius: 1px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-50deg);
}

.form-reg-checkbox:not(:checked) + label:after {
    opacity: 0;
}

.form-reg-checkbox:checked + label:after {
    opacity: 1;
}

/*-- STYLE check mark FORM --*/

.form-reg-button {
    width: 100%;
    background-color: rgba(60, 184, 120, 0.8);
    outline: none;
    border: 0;
    border-radius: 4px;
    padding: 16px 99px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.form-reg-button:hover {
    background-color: #01813F;
    transition: 1s all ease;
}

/*-- FORM --*/