@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif;
font-weight: 400; */

/*--------------------------------------Import---------------------------------*/

/*--------------------------------------Body---------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*--------------------------------------Body---------------------------------*/

/*--------------------------------------Wrapper---------------------------------*/

.wrapper {
    max-width: 80em;
    margin: 0 auto;
} 

/*--------------------------------------Wrapper---------------------------------*/

/*--------------------------------------Header---------------------------------*/
.header-logo {
    font-size: 5em;
    margin-bottom: 38px; 
}


.header-logo_content {
    text-decoration: none;
    color: black;
}

.header-content-colorchange{
    color: rgb(0, 195, 255);
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
    height: 3em;
    font-size: 24px;
}

.navigation-menu {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 2px solid white;
    height: 100%;
    color: white;
}

.navigation-menu:nth-child(4){
    border-right: 2px solid white;
}   

.navigation-menu:hover {
    background-color: #222F3A;
    transition: all 1s ease;
}
/*--------------------------------------Header---------------------------------*/

/*--------------------------------------Main---------------------------------*/

.main {
    display: flex;
}

.aside {
    margin-top: 50px;
}

.aside-table {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}


.aside-menu {
    display: flex;
    white-space: nowrap;
    justify-content: left;
    font-size: 27px;
    text-decoration: none;
    color: #485863;
    padding: 14px 70px 20px 44px;
}

.aside-menu:hover {
    background-color: #DBDBDB;
    padding-left: 70px;
    transition: all 1s ease;
}

.main-content {
    margin-top: 50px;
    margin-left: 52px;
}

.main-content-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.main-content-pic {
    transition: all 1s ease-out;
    display: block;
    margin: 75px 255px;
}

.main-content-pic:hover {
    transform: scale(1.4);
}

.main-content-txt {
    font-size: 18px;
    margin-top: 34px;
    cursor: default;
}
/*--------------------------------------Main---------------------------------*/

/*--------------------------------------Footer---------------------------------*/

.footer {
    background-color: rgba(99, 105, 110, 0.48);
    padding: 20px 20px;
    margin-top: 34px;
}

.footer-menu {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    text-decoration: none;
    color: black;
}

.footer-menu:hover {
    color: rgb(0, 195, 255);
    border-bottom: 3px solid;
    transition: all 0.4s ease;
}

.footer-copy {
    padding-left: 13%;
    font-size: 24px;
    cursor: default;
}
/*--------------------------------------Footer---------------------------------*/
