body {
    background-color: rgb(241, 241, 241);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.price-box {
    display: flex;
    flex-direction: column;
}

.input-Price {
    margin: 10px 0;
    outline: none;
    border: 2px solid black;
}

.input-green {
    border: 2px solid green;
}

.input-red {
    border: 2px solid red;
}

.input-backGreen {
    background-color: green;
    color: white;
    transition: all 0.5s ease-out;
}

.close {
    display: inline-block;
    margin-left: 10px;
    height: 10px;
    width: 10px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: #d2d2d2;
    cursor: pointer;
}

.correct-Price {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.correctValue {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.uncorrect-Price {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.UnCorrectValue {
    opacity: 1;
    transition: all 0.3s ease-out;
}

