@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

/*-- BODY --*/
body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
/*-- BODY --*/

/*-- BLOCK FIX CENTER --*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 840px;
}

.wrapper {
    display: flex;
    width: 1100px;
    flex-direction: column;
}
/*-- BLOCK FIX CENTER --*/

/*-- HEADER --*/
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 17px;
}

.label-content {
    display: inherit;
    position: relative;
}

.label-content:hover .label-text {
    color: #F26522;
}

.label-content:hover .label-logo {
    opacity: 0;
}

.label-content:hover .label-logo--orange {
    opacity: 1;
}

.label-logo--orange {
    opacity: 0;
    width: 53px;
    height: 47px;
    position: absolute;
}

.label-logo {
    width: 53px;
    height: 47px;
}

.label-text {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.label-text > * {
    padding: 0;
    margin: 0;
    margin-left: 8px;
}

.text-milan {
    font-size: 29px;
    line-height: 29px;
}

.text-holiday {
    font-size: 18px;
    line-height: 18px;
}

.communication-content {
    display: inherit;
    flex-direction: column;
}

.communication-content > * {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: white;
}

.email {
    margin-bottom: 19px;
}

.phone {
    text-align: right;
}

.email:hover {
    color: #F26522;
}

.phone:hover {
    color: #F26522;
}
/*-- HEADER --*/

/*-- MAIN --*/
.main-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.mid-box {
    position: relative;
}

.mid-box-img {
    height: 220px;
    width: 300px;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom, white, black);
    box-sizing: border-box;
}

.orange-box {
    position: absolute;
    background-color: #F26522;
    padding: 10px;
    opacity: 1;
    width: 300px;
    box-sizing: border-box;
    top: 161px;
    opacity: 0;
}

.orange-box-from {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    color: white;
    margin-bottom: 8px;
    margin-top: 0;
}

.orange-box-price {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}

.orange-box-view {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    position: relative;
    left: 39%;
}

.orange-box-view::after {
    content: " ";
    display: inline-block;
    background-color: white;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 69% 100%, 95% 51%, 70% 0);
	width: 15px;
    height: 10px;
}

.mid-box:hover .orange-box {
    opacity: 1;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;    
 
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;
 
    visibility: visible !important;         
}
 
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}
 
@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}

.mid-box-text {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    text-decoration: none;
}

.mid-box:hover .mid-box-text{
    color: orange;
}
/*-- MAIN --*/

/*-- FOOTER --*/
.copyright {
    margin-top: 18px;
}

.copyright-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: white;
}
/*-- FOOTER --*/