/*------------------------------------------import fonts--------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

/*------------------------------------------fonts--------------------------------------------*/

/*------------------------------------------body--------------------------------------------*/
body {
    /* background-color: rgb(255, 254, 184); */
    background-color: rgb(44, 44, 44);
    font-family: 'Montserrat', sans-serif;
}

.switch-theme{
    position: fixed;
    box-shadow: 0 3px 20px rgb(20, 20, 20),
    inset 0 2px 0 rgb(83, 87, 97),
    0 2px 0 black,
    inset 0 0 20px rgb(124, 124, 124);
    outline: none;
    background-color: rgb(206, 206, 206);
    height: 80px;
    left: 30px;
    top: 20px;
    border-radius:80px;
    font-weight: bold;
}

.switch-theme:hover {
    box-shadow: inset 0 0 20px rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0),
    inset 0 2px 0 rgb(0, 0, 0);
}
/*------------------------------------------body--------------------------------------------*/

/*------------------------------------------wrapper--------------------------------------------*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: 900px;
    align-items: center;
    margin: 0 auto;
    background-color: white;
}

/*------------------------------------------wrapper--------------------------------------------*/

/*------------------------------------------header------------------------------------------*/
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25.5px 0px;
    background-color: rgb(31, 31, 31);
    width: inherit;
}

.menu-header {
    margin: 0px 72px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu-header:hover {
    transition: 1s;
    color: rgb(245, 4, 4);
    transform: rotate(10deg);
}


/*------------------------------------------header------------------------------------------*/

/*------------------------------------------img------------------------------------------*/

.img-box {
    width: inherit;
}

/*------------------------------------------img------------------------------------------*/

/*------------------------------------------main------------------------------------------*/

.main {
    color: peru;
}

.main-title {
    color: rgb(0, 0, 0);
   text-align: center;
   text-transform: uppercase;
   
}

.main-content {
    color: rgb(122, 67, 12);
    text-align: center;
}
/*------------------------------------------main------------------------------------------*/

/*------------------------------------------button------------------------------------------*/

.button {
    display: block;
    padding: 18px 40px;
    color: rgb(205, 196, 63);
    background-color: rgb(20, 20, 20);
    outline: none;
    border: 0;
    margin: 25px auto;
    font-weight: bold;
    text-transform: uppercase;
}
.button:hover {
    color: rgb(0, 0, 0);
    background-color: peru;
}

/*------------------------------------------button------------------------------------------*/

/*------------------------------------------footer------------------------------------------*/

.footer {
    width: inherit;
    background-color: black;
}

.footer-copyright {
    text-align: end;
    color: white;
    margin-right: 20px;
    font-weight: bold;
}

/*------------------------------------------footer------------------------------------------*/
