/*------------------------------------------import fonts--------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

/*------------------------------------------fonts--------------------------------------------*/

/*------------------------------------------html--------------------------------------------*/

/*------------------------------------------html--------------------------------------------*/

/*------------------------------------------body--------------------------------------------*/

/*------------------------------------------body--------------------------------------------*/

/*------------------------------------------header------------------------------------------*/
.header {
    margin-top: 25.5px;
    margin-bottom: 25.5px;
}

.menu-header {
    margin: 0 auto;
    text-transform: uppercase;
    cursor: default;
    width: 800px;
    padding-left: 0px;
}

.menu-header-link {
    color: red;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2.7px;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    /*text-shadow: 0.1px 0.1px 0.1px black;*/
} 
.menu-header-link:nth-child(1) {
    margin-left: 0px;            /*убрал отсуп у 1*/
} .menu-header-link:nth-child(3) {
    margin-left: 72px;
}

/*------------------------------------------header------------------------------------------*/

/*------------------------------------------img------------------------------------------*/

.pic {
    min-width: 50%;
}

/*------------------------------------------img------------------------------------------*/

/*------------------------------------------main------------------------------------------*/

.main {
    font-family: 'Montserrat', sans-serif;
    cursor: default;
    text-align: center;
}

.main-title {
    margin: 49px 253px 38px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3.3px;
    line-height: 27px;
    font-size: 22px;
}

.main-content {
    margin: auto 67.5px;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: 26px;
    font-size: 16px;

} .main-content:nth-child(2) {
    margin-bottom: 28px;
}
/*------------------------------------------main------------------------------------------*/

/*------------------------------------------button------------------------------------------*/

.button {
    width: 191px;
    height: 51px;
    margin: 66px 0px 82px;;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    font-family: 'Montserrat', sans-serif;/*start - Текст кнопки*/
    letter-spacing: 1.8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;/*end - Текст кнопки*/
    cursor: pointer;
}
.button:hover {
    background-color: green;
}

/*------------------------------------------button------------------------------------------*/

/*------------------------------------------footer------------------------------------------*/

.footer {
    cursor: default;
    margin-right: 105px;
}

.footer-copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    float: right;
    cursor: default;
    margin-right: 105px;
}

/*------------------------------------------footer------------------------------------------*/
