/* @font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Bold.woff2);
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: 'Ubuntu';
}

#timer {
    position: relative;
    left: 44%;
    z-index: 9999px;
    top: 10px;
    font-size: 50px;
    color:blueviolet;
}

ul {
    border: 1px solid rgb(194, 174, 146);
    box-shadow: 5px 0px 1px rgba(110, 57, 22, 0.5);
    position: relative;
    left: 40%; 
    font-weight: 700;
    list-style-type:square;
    width: max-content;
    padding: 40px;
    padding-left: 59px;
    background-color: papayawhip;
    color: rgb(51, 7, 7);
    text-shadow: rgba(107, 0, 0, 0.774) 0.1px 0.1px 0, rgba(107, 0, 0, 0.774) -0.1px -0.1px 0;
}

ul ul {
    font-weight: 400;
    padding: 0;
    border: 0;
    box-shadow: none;
} */