/*------------------------------fonts----------------------------------------*/
@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../fonts/Montserrat-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fonts/Montserrat-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
}

/*------------------------------fonts----------------------------------------*/

/*------------------------------wrapper----------------------------------------*/
.wrapper {
    margin: 0 auto;
}
/*------------------------------wrapper----------------------------------------*/

/*------------------------------header----------------------------------------*/
.header-wrapper {
    background-image: url(../img/backgroundImg/section-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-color: rgba(122, 121, 113, 0.3);
}

.navigation {
    display: flex;
    justify-content: space-around;
    background-color: rgb(94, 93, 88, 0.6);
}

.logo {
    font-family: 'Montserrat-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    width: 49px;
    background-size: contain;
    font-size: 33px;
    position: relative;
}

.logo-name::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 57px;
    clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0 30%);
    background-color: #18CFAB;
    z-index: 1;
    position: absolute;
    right: 97px;
    top: 30px
}

.logo-name::after {
    font-family: 'Montserrat-Bold'; 
    text-transform: uppercase;
    content: 'H';
    position: absolute;
    z-index: 2;
    right: 108px;
    top: 40px
}

.logo-name {
    font-family: 'Montserrat-Thin';
    text-transform: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.logo-sec {
    font-family: 'Montserrat-Bold';
    content: 'Ham';
    color: #18CFAB;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-menu-items {
    cursor: pointer;
    margin-right: 21.09px;
}

.nav-menu-items:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-link {
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    border-bottom: 2px solid rgb(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 2px;
    padding-top: 42px;
    padding-bottom: 42px;
    box-sizing: border-box;
}

.nav-menu-link:hover {
    color: rgba(24, 207, 171, 1);
    border-bottom: 2px solid rgba(24, 207, 171, 1);
    box-sizing: border-box;
}


.header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 78px;
    margin-top: 264px;
    margin-bottom: 134px;
}

.header-content {
    font-family: 'Montserrat-Bold';
    font-size: 78px;
    text-transform: uppercase;
    cursor: default;
    margin: 0;
}

.header-content:first-child {
    font-size: 35px;
}

.header-content:first-child::after {
    content: 'wordpress theme';
    color: #18CFAB;
}


.header-content:last-child {
    font-family:'Montserrat-Thin';
    text-transform: none;
    font-size: 35px;
    font-weight: 100;
}

.header-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
}
/*------------------------------btn ALL----------------------------------------*/
.btn {
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    outline: none;
    border: none;
    color: white;
    border-top: 6px white solid;
    border-radius: 5px;
    padding: 20px 23px;
    cursor: pointer;
    outline: none;
}
/*------------------------------btn ALL----------------------------------------*/
.btn-explore {
    background-color:#18CFAB;
    margin-right: 26px;
}

.btn-purchase {
    background-color:#00CBF6;
}

/*------------------------------header----------------------------------------*/

/*------------------------------box----------------------------------------*/
.box-wrapper{
    display: flex;
    margin: 6px 0;
}

.box-wrapper > * {
    flex-grow: 1;
    width: 260px;
}

.box-item:nth-child(2n+1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C2A33;
    color: #18CFAB;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    padding: 50px 35px;
}

.box-item:nth-child(2n) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #18CFAB;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    padding: 50px 35px;
}
/*------------------------------box----------------------------------------*/

/*------------------------------services----------------------------------------*/
.service-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 91px;
}

/*------------------------------section title----------------------------------------*/
.section-title {
    display: inline-block;
    font-family: 'Montserrat-Light';
    margin-bottom: 24px;
    font-size: 34px;
}

.white{
    color: white
}
/*------------------------------section title----------------------------------------*/

/*------------------------------title line----------------------------------------*/
.title-line {
    height: 1px;
    width: 79px;
    background-color: #18CFAB;
    position: relative;
    margin-bottom: 68px;
}

.title-line::after {
    content: '';
    display: inline-block;
    height: 0.5px;
    width: 79px;
    background-color: #18CFAB;
    position: absolute;
    left: 20px;
    top: 4px;
}
/*------------------------------title line----------------------------------------*/
.service-menu {
    display: inherit;
    list-style-type: none;
    width: max-content;
}

.service-menu-item {
    font-family: 'Montserrat-Light';
    background-color: #F8FCFE;
    border: 1.5px solid #EDEFEF;
    box-sizing: border-box;
    padding: 26px 34px;
    color: #717171;
    font-size: 15.99px;
    position: relative;
}

.service-menu-item:hover {
    cursor: url('../img/cursor/cursor.png'), default;
    border: 1.5px solid #18CFAB;
    box-sizing: border-box;
}

.mint {
    background-color: rgba(24, 207, 171, 1);
    color: white
}

.mint::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: rgba(24, 207, 171, 1);
    width: 20px;
    height: 60px;
    clip-path: polygon(50% 100%, 1% 80%, 100% 80%);
    bottom: -11px;
    left: 45%;
}

.service-box {
    display: inherit;
    flex-direction: row;
    width: 1050px;
}

.service-box-img {
    margin-right: 15px;
    max-width: 160px;
    max-height: 160px;
}

.invisible {
    display: none;
}

.service-box-content {
    font-family:'Montserrat-Light';
    font-size: 16px;
    margin: 0;
    color: #777777;
}
/*------------------------------services----------------------------------------*/

/*------------------------------perchase box----------------------------------------*/

.perchase-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/backgroundImg/section-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(2, 0, 0, 0.8);
}

.perchase-box-title {
    color: #18CFAB;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 40px;
    margin: 126px 0 15px 0;
}

.perchase-box-content {
    font-family: 'Montserrat-Light';
    font-size: 16px;
    color: rgba(216, 216, 216, 1);
}

.perchase-box-btn {
    background-color: #18CFAB;
    margin: 127px;
}


/*------------------------------perchase box----------------------------------------*/

/*------------------------------work----------------------------------------*/

.work-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    margin-bottom: 91px;
    background: rgba(233, 237, 239, 1);
}

.work-menu {
    display: inherit;
    list-style-type: none;
    width: max-content;
    margin-bottom: 71px;
}

.work-menu-item {
    font-family: 'Montserrat-Light';
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    padding: 26px 34px;
    color: #717171;
    font-size: 15.99px;
    cursor: pointer;
}

.work-menu-item:hover {
    color: rgba(24, 207, 171, 1);
    border: 1px solid rgba(24, 207, 171, 1);
}

.work-pic-box {
    display: inherit;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1160px;
    margin-bottom: 70px;
    cursor: url('../img/cursor/cursor.png'), default;
}

.work-pic {
    height: 211px;
    width: 285px;
}

.work-btn {
    display: flex;
    align-items: center;
    background-color: rgba(24, 207, 171, 1);
    margin: 0 0 99px 0;
}

.plus {
    font-size: 22px;
    margin-right: 12px;
}
/*------------------------------work----------------------------------------*/

/*------------------------------news----------------------------------------*/


.news-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 91px;
}

.news-title {
    display: inline-block;
    font-family: 'Montserrat-Light';
    margin-bottom: 24px;
    font-size: 34px;
}

.news-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1300px;
}

.news-box-element {
    margin-right: 35px;
    margin-bottom: 43px;
    position: relative;
    background-color: #F8FCFE;
    border: 1px solid #F2F4F5;
}

.news-box-element:hover .news-element-date {
    background-color: rgba(24, 207, 171, 1);
}

.news-box-element:hover .news-element-info .news-element-title {
    color: rgba(24, 207, 171, 1);
}

.news-element-img {
    height: 208px;
    width: 263px;
}

.news-element-date{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: rgba(32, 62, 56, 1);
    cursor: pointer;
}

.news-element-date > * {
    display: block;
    margin: 10px 21px 10px 21px;
    color: white;
    font-family: 'Montserrat-Light';
    text-align: center;
    font-size: 16px;
}

.news-element-info{
    padding: 7px 0 7px 10px;
}

.news-element-info:nth-child(2n+1){
    font-family: 'Montserrat-Light';
    font-size: 14px;
    color: rgba(119, 119, 119, 1);
    cursor: pointer;
}

.news-element-title {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    color: rgba(113, 113, 113, 1);
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.vertical-bar {
    margin: 0 10px;
}


/*------------------------------news----------------------------------------*/

/*------------------------------say about----------------------------------------*/
.sayAbout-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 91px;
    background-image: url(../img/backgroundImg/section-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(2, 0, 0, 0.4);
}

.left-double-quote {
    margin: 0;
    font-size: 80px;
    color: rgba(24, 207, 171, 1);
    font-weight: bolder;
    height: 60px;
    transform: rotate(1deg);
}

.sayAbout-slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1160px;
}

.slider-comment{
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Montserrat-Light';
    color: rgba(187, 187, 187, 1);
    font-size: 16px;
    line-height: 30px;
}

.slider-img {
    display: block;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(24, 207, 171, 0.2);
}

.slider-name {
    font-family: 'Montserrat-Bold';
    color: rgba(24, 207, 171, 1);
    margin-bottom: 7px;
    font-size: 17px;
    text-transform: uppercase;
}

.slider-prof {
    color: rgb(255, 255, 255, 0.6);
    margin-bottom: 40px;
    font-size: 12px;
    font-family: 'Montserrat-Light';
}

.slider-img-show {
    width: 143px;
    height: 143px;
    background-color: rgba(24, 207, 171, 0.2);
    border-radius: 50%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.slide-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-move {
    width: 35px;
    height: 35px;
    padding: 8px 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-move:hover {
    background-color: rgba(24, 207, 171, 1);
    border: 1px solid white;
}

.btn-move.left {
    margin-right: 10px;
}

.btn-move.right {
    margin-left: 10px;
}

.left::before {
    content: '';
    display: block;
    position: relative;
    clip-path: polygon(35% 0, 10% 50%, 35% 100%, 25% 100%, 0% 50%, 25% 0%);
    height: 15px;
    width: 20px;
    background-color:#BBBBBB;
    top: 10%;
    left: 20%;
}

.slider-img-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.slider-img-item > * {
    width: 80px;
    height: 80px;
    padding: 6px;
    background-color: rgba(24, 207, 171, 0.2);
    border-radius: 50%;
    box-sizing: border-box;
    margin: 10px;
    cursor: pointer;
}

.focus {
    margin-top: -10px;
}

.right::before {
    content: '';
    display: block;
    position: relative;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 65% 100%, 90% 50%, 65% 0);
    height: 15px;
    width: 20px;
    background-color: #BBBBBB;
    top: 10%;
    right: 70%;
}

.btn-move.left:hover::before {
    background-color: white;
}

.btn-move.right:hover::before {
    background-color: white;
}

/*------------------------------say about----------------------------------------*/

/*------------------------------footer----------------------------------------*/

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 53, 63, 1);
}

.footer-content {
    font-family: 'Montserrat-Thin';
    font-size: 14px;
    font-style: normal;
    color: #AEAEAE;
    margin: 33px 0;
}

.footer-name {
    cursor: pointer;
    color: rgba(24, 207, 171, 1);
    text-decoration: none;
}
/*------------------------------footer----------------------------------------*/

.preload {
    margin-bottom: 40px
}