ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-link {
    outline: none;
}

.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
    transition: all 0.3s ease-out;
}

#tabs-content {
    padding: 0 50px;
    margin: 0;
}

.tabs-content-item {
    font-style: italic;
    font-size: 20px;
}

.visible {
    opacity: 1;
    transition: all 0.2s ease-out;
}

.invisible {
    opacity: 0;
    transition: all 0.2s ease-out;
}

